:root {
  --white: #ffffff;
  --black: #000000;
  --grey-500: #28293D;
  --grey-400: #2D2F45;
  --grey-300: #373951;
  --grey-200: #3E405B;
  --accent-yellow-500: #fec166;
  --accent-yellow-400: #FFD9A0;
  --accent-yellow-300: #EEA02B;
  --accent-blue-500: #0AA4E7;
  --accent-blue-400: #4EC1F3;
  --accent-blue-300: #1766F9;
  --accent-purple-500: #7366FE;
  --accent-purple-400: #A19AFE;
  --accent-purple-300: #5218FF;
  --accent-gum-500: #E666B3;
  --accent-gum-400: #FF8BD5;
  --accent-gum-300: #DA46A6;
  --accent-milk-500: #7F98BC;
  --accent-milk-400: #C5D2EC;
  --accent-milk-300: #FFFFFF;
  --accent-mint-500: #3EEBBE;
  --accent-mint-400: #68FCD6;
  --accent-mint-300: #32D4AA;
  --accent-peach-500: #FF7387;
  --accent-peach-400: #FF96A5;
  --accent-peach-300: #EF586E;
  --primary-button-enabled: linear-gradient(0deg, #5561FF, #3643FC);
  --primary-button-hover: linear-gradient(0deg, #535FFF, #6B75FF);
  --primary-button-focus: linear-gradient(0deg, #4b4fa0, #44488b);
  --secondary-button-enabled: rgba(255, 255, 255, 0.1);
  --secondary-button-hover: rgba(255, 255, 255, 0.1);
  --secondary-button-focus: rgba(255, 255, 255, 0.1);
  --tertiary-button-enabled: transparent;
  --tertiary-button-hover: rgba(255, 255, 255, 0.01);
  --tertiary-button-focus: rgba(0, 0, 0, 0.1);
  --ghost-button-enabled: #6E7198;
  --ghost-button-hover: #B9BCD9;
  --ghost-button-focus: #4F5275;
  --gradient-mate-black: linear-gradient(0deg, #1C1C28, #363649);
  --gradient-pacific: linear-gradient(0deg, #1AD1DA, #4A5ACD);
  --gradient-magma: linear-gradient(0deg, #F34E4E, #FCA668);
  --gradient-inferno: linear-gradient(0deg, #BE0000, #FC7168);
}